* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}

.nav {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__input {
  display: none;
}

.nav__figure {
  order: -1;

  display: grid;
  grid-template-areas: img;

  z-index: 10;

  --logo-hidden: 0;
  --logo-show: 1;
}

.nav__input:checked + .nav__toggle {
  background-image: url("../images/icon-close.svg");
}

svg path {
  fill: #000;
}

.nav__input:checked ~ .nav__figure {
  --logo-hidden: 1;
  --logo-show: 0;
}

.nav__input:checked ~ .nav__content {
  clip-path: circle(150% at top right);

  --opacity: 1;
  --transform: translateY(0);
}

.nav__logo {
  grid-area: img;
  opacity: var(--logo-show);
}

.nav__logo--hidden {
  opacity: var(--logo-hidden);
}

.nav__toggle {
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/icon-hamburger.svg");

  z-index: 10;
  cursor: pointer;
}

.nav__content {
  --opacity: 0;
  --transtion: opacity 0.3s 0.7s;

  background-color: hsl(229, 31%, 21%, 0.8);

  padding-top: 80px;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;

  position: absolute;
  inset: 0;

  clip-path: circle(0% at 100% 0);
  transition: clip-path 0.8s;
}

.nav__list {
  opacity: var(--opacity);
  transition: var(--transtion);

  padding: 0;
  list-style: none;
}

.nav__item {
  border-top: 2px solid var(--grayish-blue);
  padding: 16px 0;
  text-align: center;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.nav__link--last {
  display: block;
  border: 3px solid #fff;
  padding: 1em 0;
  border-radius: 3px;
}

.nav__media {
  opacity: var(--opacity);
  transition: var(--transtion);
  margin-top: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

/* hero */

.hero {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  row-gap: 2rem;
  grid-template-rows: max-content max-content;
}

.hero::after {
  content: "";
  grid-column: 2/4;
  grid-row: 1/2;

  align-self: end;
  justify-self: end;

  width: 60%;
  aspect-ratio: 3/2;

  z-index: -1;

  border-radius: 80px 0 0 80px;

  max-width: 400px;
  background-color: var(--soft-blue);
}

.hero__figure {
  grid-column: 2/3;
  grid-row: 1/2;
}

.hero__img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.hero__texts {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}

.hero__title {
  font-size: 2rem;
}

.hero__paragraph {
  line-height: 1.5;
  color: var(--grayish-blue);
  margin: 1.5rem 0 1rem;
}

.hero__buttons {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-between;
  /* gap: 1rem; */
}

.hero__cta {
  font-weight: 500;
  padding: 1em;
  background-color: var(--soft-blue);
  text-decoration: none;
  color: #fff;
  border-radius: 6px;

  box-shadow: 0 2px 4px #0000005f;
}

.hero__cta--second {
  background-color: #fff;
  color: var(--grayish-blue);
}

/* features  */

.features {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  padding: 80px 0;
}

.features__container {
  grid-column: 2/3;
  text-align: center;
}

.features__title {
  font-size: 3rem;
}

.features__paragraph {
  line-height: 1.5;
  color: var(--grayish-blue);
  margin: 1.5rem 0 2rem;
}

.features__tabs {
  padding: 0;
  list-style: none;
  width: 100%;
  --tab1: 4px solid var(--soft-red);
  --tab2: 4px solid transparent;
  --tab3: 4px solid transparent;
  grid-column: 2/3;
}

.features__tab {
  border-top: 1px solid var(--grayish-blue);
}

.features__tab:last-of-type {
    border-bottom: 1px solid var(--grayish-blue);
}
.features__click {
  color: var(--grayish-blue);
  text-decoration: none;
  display: block;
  height: 60px;
  line-height: 60px;
  width: max-content;
  margin: 0 auto;
  transition: border .5s;
}


.features__tab:nth-child(1) > .features__click {
  border-bottom: var(--tab1);
}

.features__tab:nth-child(2) > .features__click {
  border-bottom: var(--tab2);
}

.features__tab:nth-child(3) > .features__click {
  border-bottom: var(--tab3);
}

.tab1:target ~ .features__tabs {
  --tab1: 4px solid var(--soft-red);
  --tab2: 4px solid transparent;
  --tab3: 4px solid transparent;
}

.tab2:target ~ .features__tabs {
    --tab1: 4px solid transparent;
    --tab2: 4px solid var(--soft-red);
    --tab3: 4px solid transparent;
  }

  .tab3:target ~ .features__tabs {
      --tab1: 4px solid transparent;
      --tab2: 4px solid transparent;
      --tab3: 4px solid var(--soft-red);
  }

  .tab1:target ~ .features__content {
    --area1: 2;
    --area2: 0;
    --area3: 0;
  }

  .tab2:target ~ .features__content {
    --area1: 0;
    --area2: 2;
    --area3: 0;
  } 

  .tab3:target ~ .features__content {
    --area1: 0;
    --area2: 0;
    --area3: 2;
  } 

  .features__content {
    margin-top: 80px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-areas: ". article .";
    --area1: 2;
    --area2: 0;
    --area3: 0;
  }

  .features__img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

  .features__article {
    grid-area: article;
    opacity: var(--area1);
    transition: .4s opacity;
  }
  
  .features__article:nth-last-of-type(2) {
    opacity: hidden;
    opacity: var(--area2);
  }

  .features__article:nth-last-of-type(3) {
    opacity: hidden;
    opacity: var(--area3);
  }

 

  .features__text {
    padding-top: 80px;
    text-align: center;

  }

  .features__subtitle {
    color: var(--very-dark-blue);
  }

  .features__copy {
    color: var(--grayish-blue);
    line-height: 1.5;
    margin: 1rem 0;
  }

  .features__cta {
    background-color: var(--soft-blue);
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
  }


  /* download */

.download{
  width: 90%;
  text-align: center;
}

.download__title{
  font-size: 1.7rem;
  color: var(--very-dark-blue);
}

.download__paragraph{
  color: var(--grayish-blue);
  margin: 1rem auto 2.5rem;
  max-width: 400px;
}

.download__container{
  width: 97%;
  margin: 3rem auto 0;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.download__item{
  box-shadow: 0 3px 6px var(--grayish-blue-alpha);
  padding: 2.5rem 0;
  border-radius: 12px;
}

.download__img{
  width: 50%;
  max-width: 120px;
  margin: 0 auto;
}

.download__browser{
  margin-top: 30px;
  color: var(--very-dark-blue);
  font-size: 1.4rem;
}

.download__version{
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 6px dotted var(--grayish-blue-alpha);
  color: var(--grayish-blue);
  line-height: 1.5;
}

.download__extension{
  display: block;
  width: 90%;
  background-color: var(--soft-blue);
  margin: 1.3rem auto 0;
  color: #fff;
  text-decoration: none;
  padding: 1rem 0;
  border-radius: 4px;
}