* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__input {
  display: none;
}

.nav__figure {
  order: -1;
  display: grid;
  grid-template-areas: img;
  z-index: 10;
  --logo-hidden: 0;
  --logo-show: 1;
}

.nav__input:checked + .nav__toggle {
  background-image: url("../images/icon-close.svg");
}

svg path {
  fill: #000;
}

.nav__input:checked ~ .nav__figure {
  --logo-hidden: 1;
  --logo-show: 0;
}

.nav__input:checked ~ .nav__content {
  clip-path: circle(150% at top right);
  --opacity: 1;
  --transform: translateY(0);
}

.nav__logo {
  grid-area: img;
  opacity: var(--logo-show);
}

.nav__logo--hidden {
  opacity: var(--logo-hidden);
}

.nav__toggle {
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/icon-hamburger.svg");
  z-index: 10;
  cursor: pointer;
}

.nav__content {
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  --opacity: 0;
  --transtion: opacity 0.3s 0.7s;
  background-color: hsl(229, 31%, 21%, 0.8);
  inset: 0;
  clip-path: circle(0% at 100% 0);
  transition: clip-path 0.8s;
}

.nav__list {
  opacity: var(--opacity);
  transition: var(--transtion);
  padding: 0;
  list-style: none;
}

.nav__item {
  border-top: 2px solid var(--grayish-blue);
  padding: 16px 0;
  text-align: center;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.nav__link--last {
  display: block;
  border: 3px solid #fff;
  padding: 1em 0;
  border-radius: 3px;
}

.nav__media {
  margin-top: auto;
  display: flex;
  opacity: var(--opacity);
  transition: var(--transtion);
  justify-content: center;
  align-items: center;
  gap: 3em;
}

/* hero */

.hero {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  row-gap: 2rem;
  grid-template-rows: max-content max-content;
}

.hero::after {
  content: "";
  grid-column: 2/4;
  grid-row: 1/2;
  align-self: end;
  justify-self: end;
  width: 60%;
  max-width: 400px;
  aspect-ratio: 3/2;
  z-index: -1;
  border-radius: 80px 0 0 80px;
  background-color: var(--soft-blue);
}

.hero__figure {
  grid-column: 2/3;
  grid-row: 1/2;
}

.hero__img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.hero__texts {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}

.hero__title {
  font-size: 2rem;
}

.hero__paragraph {
  margin: 1.5rem 0 1rem;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.hero__buttons {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-between;
}

.hero__cta {
  font-weight: 500;
  padding: 1em;
  background-color: var(--soft-blue);
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px #0000005f;
}

.hero__cta--second {
  background-color: #fff;
  color: var(--grayish-blue);
}

/* features  */

.features {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.features__container {
  grid-column: 2/3;
  text-align: center;
}

.features__title {
  font-size: 3rem;
}

.features__paragraph {
  margin: 1.5rem 0 2rem;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.features__tabs {
  padding: 0;
  width: 100%;
  grid-column: 2/3;
  list-style: none;
  --tab1: 4px solid var(--soft-red);
  --tab2: 4px solid transparent;
  --tab3: 4px solid transparent;
}

.features__tab {
  border-top: 1px solid var(--grayish-blue);
}

.features__tab:last-of-type {
  border-bottom: 1px solid var(--grayish-blue);
}
.features__click {
  color: var(--grayish-blue);
  text-decoration: none;
  display: block;
  height: 60px;
  line-height: 60px;
  width: max-content;
  margin: 0 auto;
  transition: border .5s;
}


.features__tab:nth-child(1) > .features__click {
  border-bottom: var(--tab1);
}

.features__tab:nth-child(2) > .features__click {
  border-bottom: var(--tab2);
}

.features__tab:nth-child(3) > .features__click {
  border-bottom: var(--tab3);
}

.tab1:target ~ .features__tabs {
  --tab1: 4px solid var(--soft-red);
  --tab2: 4px solid transparent;
  --tab3: 4px solid transparent;
}

.tab2:target ~ .features__tabs {
    --tab1: 4px solid transparent;
    --tab2: 4px solid var(--soft-red);
    --tab3: 4px solid transparent;
  }

  .tab3:target ~ .features__tabs {
      --tab1: 4px solid transparent;
      --tab2: 4px solid transparent;
      --tab3: 4px solid var(--soft-red);
  }

  .tab1:target ~ .features__content {
    --area1: 2;
    --area2: 0;
    --area3: 0;
  }

  .tab2:target ~ .features__content {
    --area1: 0;
    --area2: 2;
    --area3: 0;
  } 

  .tab3:target ~ .features__content {
    --area1: 0;
    --area2: 0;
    --area3: 2;
  } 

  .features__content {
    margin-top: 80px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-areas: ". article .";
    --area1: 2;
    --area2: 0;
    --area3: 0;
  }

  .features__img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

  .features__article {
    grid-area: article;
    opacity: var(--area1);
    transition: .4s opacity;
  }
  
  .features__article:nth-last-of-type(2) {
    opacity: hidden;
    opacity: var(--area2);
  }

  .features__article:nth-last-of-type(3) {
    opacity: hidden;
    opacity: var(--area3);
  }

 

  .features__text {
    padding-top: 80px;
    text-align: center;

  }

  .features__subtitle {
    color: var(--very-dark-blue);
  }

  .features__copy {
    margin: 1rem 0;
    color: var(--grayish-blue);
    line-height: 1.5;
  }

  .features__cta {
    padding: 1rem;
    display: inline-block;
    background-color: var(--soft-blue);
    color: white;
    text-decoration: none;
  }


  /* download */

.download{
  width: 90%;
  text-align: center;
}

.download__title{
  font-size: 1.7rem;
  color: var(--very-dark-blue);
}

.download__paragraph{
  margin: 1rem auto 2.5rem;
  color: var(--grayish-blue);
  max-width: 400px;
}

.download__container{
  margin: 3rem auto 0;
  width: 97%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.download__item{
  padding: 2.5rem 0;
  box-shadow: 0 3px 6px var(--grayish-blue-alpha);
  border-radius: 12px;
}

.download__img{
  width: 50%;
  max-width: 120px;
  margin: 0 auto;
}

.download__browser{
  margin-top: 30px;
  font-size: 1.4rem;
  color: var(--very-dark-blue);
}

.download__version{
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 6px dotted var(--grayish-blue-alpha);
  color: var(--grayish-blue);
  line-height: 1.5;
}

.download__extension{
  width: 90%;
  margin: 1.3rem auto 0;
  padding: 1rem 0;
  display: block;
  background-color: var(--soft-blue);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

/* article */

.article{
  width: 90%;
  text-align: center;
}

.article__title{
  font-size: 1.7rem;
  color: var(--very-dark-blue);
}

.article__arrow{
  transition: transform .3s;
}

.article__arrow--rotate{
  transform: rotate(180deg);
  filter: hue-rotate(129deg);
}

.article__paragraph{
  margin: 1rem auto 2.5rem;
  max-width: 400px;
  color: var(--grayish-blue);
}

.article__container{
  margin: 0 auto;
  max-width: 450px;
}

.article__question{
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  text-align: left;
  color: var(--very-dark-blue);
  font-weight: 400;
  cursor: pointer;
}

.article__content{
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .3s;
  border-bottom: 2px solid var(--grayish-blue);
}

.article__content--show{
  grid-template-rows: 1fr;
}

.article__show{
  overflow: hidden;
}

.article__anwser{
  padding: 1.3rem;
  text-align: left;
  padding-top: 0;
  color: var(--grayish-blue);
}

.article__cta{
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--soft-blue);
  color: #fff;
  text-decoration: none;
}

/* joined */

.joined{
  background-color: var(--soft-blue);
}

.joined__container{
  width: 90%;
  max-width: 500px;
  color: #fff;
  text-align: center;
}

.joined__paragraph{
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: 2px;
}

.joined__title{
  margin-bottom: 2rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.joined__form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.joined__input, .joined__submit{
  padding: 1rem;
  font: inherit;
  border-radius: 6px;
  border: none;
}

.joined__submit{
  background-color: var(--soft-red);
  color: #fff;
}

/* footer */

.footer{
  background-color: var(--very-dark-blue);
}

.footer__container{
  width: 90%;
  text-align: center;
}

.footer__logo{
  margin: 0 auto;
}

.footer__list{
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}

.footer__link{
  display: inline-block;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__media{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  place-content: center;
  gap: 2rem;
}

@media (min-width: 768px){
  
  :root{   
      --padding-container: 80px 0;
  }
  
  img{
      display: block;
  }
  

  .nav__hamburguer{
      display: none;
  }
  
  .nav__container{
      padding:0;
      position: static;
      display: block;    
      min-height: unset;
      background-color: #fff;
      transform: unset;
      transition:none;
  }

  .nav__list{
      display: grid;
      width:unset;
      grid-auto-flow: column;
      gap: 2rem;
  }
  
  .nav__element{
      padding:0;
      border-top: none;
  }
  
  .nav__link{
      color: var(--very-dark-blue);
      padding: .6rem 0;
  }
  
  .nav__link--last{
      border:none;
      color: white;
      padding: .6rem 1.5rem;
      background-color: var(--soft-red);
      box-shadow: -5px 2px 3px var(--grayish-blue);
  }
  
  .nav__social{
      display: none;
  }
  
  /* Hero */
  
  .hero__main{
      align-items: center;
      grid-template-columns: 5% 1fr 1fr 5%;
  }
  
  .hero__figure{
      grid-column: span 2/-1;
  }
  
  .hero__figure::before{
    width: 70%;
    max-width: 600px;
    bottom: 0;
  }
  
  .hero__img{
      max-width: 5000px;
  }
  
  .hero__texts{
      text-align: left;
      grid-row: 1/2;
  }
  
  .hero__title{
      font-size: 2.5rem;
  }
  
  .hero__paragraph{
      margin: 1.5rem 0;
  }
  
  .hero__buttons{
      justify-content: flex-start;
  }
  
  /* features */
  
  .features{
      grid-template-columns: 5% 1fr 1fr 5%;
  }
  
  .features__content{
      grid-column: 2/4;
  }
  
  .features__title{
      font-size: 2.5rem;
  }
  
  .features__list{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      width: max-content;
      border-bottom: 2px solid var(--grayish-blue-alpha);
  }
  
  .features__element{
      border-top:none;
  }
  
  .features__element:last-child{
      border-bottom:none;
  }
  
  .features__tab{
      padding: 1.5rem;
      position: relative;
      top: 2px;
  }
  

  .features__article{
      display: grid;
      gap: 1rem;
      align-items: center;
      grid-template-columns: 5% 1fr 1fr 5%;
  }
  
  
  .features__figure{
      grid-column: 1/3;
      display: grid;
  }
  
  .features__img{
      margin: auto;
  }
  
  .features__figure::before{
      top: 40%;
      height: unset;
      width: 70%;
      max-width: 550px;
  }
  
  .features__texts{
      margin-top: 0;
      width: 100%;
      text-align: left;
  }
  
  .features__subtitle{
      font-size: 2rem;
  }
  
  
  .features__cta{
      display: inline-block;
  }
  
  /* download */
  
  .download__title{
      font-size: 2.5rem;
  }
  
  
  .download__container{
      margin: 4rem auto 0;
      width: 100%;
      max-width: unset;
      padding: 0 2rem;
      gap: 2rem;
      flex-direction: row;
      align-items: flex-start;
  }
  
  .download__item{
      flex: 1;
  }

  .download__item:nth-child(2){margin-top: 2rem;}
  .download__item:nth-child(3){margin-top: 4rem;}
  
  /* article */
  
  .article__title{
      font-size: 2.5rem;
  }
  
  /* joined */

  .joined__title{
      font-size: 2.5rem;
  }
  
  .joined__form{
     flex-direction: row;
  }
  
  .joined__input{
      flex: 1;
  }
  
  
  /* footer */

  
  .footer__container{
      display: flex;
      align-items: center;
  }
  
  .footer__logo{
      margin: 0 auto;
  }
  
  .footer__list{
      margin: 0;
      margin-left: 3rem;
      display: flex;
      gap: 1rem;
  }
  
  .footer__media{
     margin-left: auto;
  }
}

@media (min-width:1250px) {
  .hero__main{
      width: 90%;
      grid-template-columns: 1fr 1fr;
  }

  .hero__figure{
      grid-column: span 1/-1;
      grid-row: 1/2;
  }

  .hero__texts{
      grid-row: 1/2;
      grid-column: 1/2;
  }

  .features{
      width: 90%;
      grid-template-columns: 1fr 1fr;
  }

  .features__content{
      grid-column: 1/-1;
  }
}
