@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

body {
  font-family: "Rubik", sans-serif;
  /* background-color: black; */
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: "logo icon";
  justify-content: space-between;
  height: 70px;
  align-items: center;
  --logo-hidden: 0;
  --logo-show: 1;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}

.nav__input {
  display: none;
}


.nav__input:checked + .nav__figure {
  --logo-hidden: 1;
  --logo-show: 0;
}

.nav__figure {
  grid-area: logo;
  display: grid;
  grid-template-areas: img;
}

.nav__logo {
  grid-area: logo;
  opacity: var(--logo-show);
}

.nav__logo--hidden {
opacity: var(--logo-hidden);
}

.nav__content {
  position: absolute;
  display: flex;
  padding-top: 80px;
  padding-bottom: 90ox;
  /* background-blend-mode: 80px; */
  inset: 0;
  background-color: hsl(229, 31%, 21%, 0.8);
  flex-direction: column;
  clip-path: circle(0% at 100% 0);
}

.nav__toggle {
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url(images/icon-hamburger.svg);
  background-size: contain;
  background-position: center;
  grid-area: icon;
  cursor: pointer;
}

.nav__list {
  padding: 0;
  /* width: 90%;
  margin: 0 auto; */
  list-style: none;
  /* background-color: hsl(229, 31%, 21%, .7); */
  /* display: grid;
  grid-template-columns: 5% 1fr 5%;
  position: absolute;
  inset: 0;
  padding-top: 80px; */
}

.nav__item {
  border-top: 1px solid var(--grayish-blue);
  padding: 16px 0;
  text-align: center;
}

.nav__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.nav__link--last {
  display: block;
  border: 3px solid white;
  padding: 1rem;
  border-radius: 3px;
}

.nav__media {
  margin-top: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
